*.xlsx
*.csv
src/files/faltaFormatar/*.csv
src/files/db_format/*.csv
src/files/db_format/*.csv
src/files/raw/*.csv
src/files/*.csv

src/files/faltaFormatar/*.xlsx
src/files/db_format/*.xlsx
src/files/db_format/*.xlsx
src/files/raw/*.xlsx
src/files/*.xlsx

src/*.csv
src/*.xlsx

src/files/*.xlsx
src/files/*.csv